In [45]:
import yfinance as yf
tesla = yf.Ticker("TSLA")
print("TSLA")

tesla_data = tesla.history(period="max")

tesla_data.reset_index(inplace=True)
tesla_data.head()

TSLA

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29,1.266667,1.666667,1.169333,1.592667,281494500,0,0.0
1,2010-06-30,1.719333,2.028000,1.553333,1.588667,257806500,0,0.0
2,2010-07-01,1.666667,1.728000,1.351333,1.464000,123282000,0,0.0
3,2010-07-02,1.533333,1.540000,1.247333,1.280000,77097000,0,0.0
4,2010-07-06,1.333333,1.333333,1.055333,1.074000,103003500,0,0.0

In [17]:

import pandas as pd
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots
tesla_revenue =pd.DataFrame(columns=['Date', 'Revenue'])

for row in soup.find("tbody")[1].find_all('tr'):
    col = row.find_all("td")
    data = col[0].text
    revenue = col[1].text
    
    tesla_revenue = tesla_revenue.append({"Date":date, "Revenue":revenue}, ignore_index=True)

NameError: name 'soup' is not defined

In [71]:
import yfinance as yf
gamestop = yf.Ticker("GME")
print("GME")

gamestop_data = gamestop.history(period="max")

gamestop_data.reset_index(inplace=True)
gamestop_data.head()

GME

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13,1.620128,1.693350,1.603296,1.691666,76216000,0.0,0.0
1,2002-02-14,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [16]:

import pandas as pd 
import requests 
from bs4 import BeautifulSoup
import plotly.graph_objects as go
from plotly.subplots import make_subplots
url = "http://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/gamestop_data_webpage.html"

data = requests.get(url).text

BeautifulSoup == BeautifulSoup(data, 'html.parser')

gamestop_data = pd.Dataframe(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

for row in soup.find("tbody").find_all('tr'):
    col = row.find_all('td')
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text
    
    gamestop_data = gamestop_data.append({"Date":date, "Open":open, "High":high, "Low":low, "Close":close, "Adj_Close":adj_close, "Volume":volume}, ignore_index=True)
    
    gamestop_data.head()

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [21]:
import yfinance as yf 
import pandas as pd 
import requests 
from bs4 import BeautifulSoup 
import plotly.graph_objects as go 
from plotly.subplots import make_subplots
def make_graph(tesla_data, tesla_revenue, 'Tesla'):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=(Historical Revenue"), vertial_spacing = 3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specfic = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datatime(stock_data_specfic.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer datetime_format=True), y=revenue_data_specfic.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_xaxes(title_text="Price ($US Millions)", row=2, col=1)
    fig.update_xaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    beight=900,
    xanis_rangeslider_visible=True)
    fig.show()

SyntaxError: invalid syntax (2237131094.py, line 7)

In [ ]:
def make_graph(gme_data, gme_revenue, 'GameStop'):
    fig = make_subplots(row=2, cols=1, shared_xaxes=True, subplot_titles=(Historical Revenue"), vertical_spacing =3)
    stock_data_specfic = stock_data[stock_data. Date <='2021--06-14']
    revenue_data_specfic = revenue_data[revenue_data. Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specfic.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer datatime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_xaxes(title_text="Price ($US Millions)", row=2, col=1)
    fig.update_xaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False,
    beight=900,
    xanis_rangeslider_visible=True)
    fig